// Colors
$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue-bg: hsl(207, 26%, 17%);
$very-dark-blue-text: hsl(200, 15%, 8%);
$dark-gray: hsl(0, 0%, 52%);
$very-light-gray-bg: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Typography
$homepage-font-size: 14px;
$detail-page-font-size: 16px;

// Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;